<!DOCTYPE html>
<html>
<head>
    <title>리포트 선택 페이지</title>
    
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/font.css" rel="stylesheet">
    <link href="/css/xeicon.min.css" rel="stylesheet">
    <style>
        body *{font-family: S-Core5;}
        .user-list th{border-bottom: 1px solid;}
        .user-list td{padding-top: 1em;}
        .user-list td:nth-child(3){font-size: 1.3em;}
        .user-list span{
            padding: 0.3em 1.5em; 
            background-color: #ffeaea;
            cursor: pointer;
        }
        .user-list span:hover{
            font-weight: bold;
            background-color: #ffbaba;
        }
        form {    max-width: 800px;}
        form div , .list-title{font-size: 1.2em; border-top: 1px dotted; margin-top: 1em; max-width: 800px;}
        .submit, .submits{padding: 0.3em 1.5em; background-color: #ffeaea; border: none; cursor: pointer;}
        .submit:hover, .submits:hover{font-weight: bold; background-color: #ffbaba;}
        .submits{width:fit-content;}
        .selectByList{
            max-width: 515px;
            display: grid;
            grid-template-columns: 1fr 2fr 1fr 2fr;
            align-items: center;
            justify-items: start;
        }
    </style>
</head>
<body>
    <select class="analysis">
        <option value="cmfa">유기산 검사</option>
    </select>
    <form action='/report/UGI' name='userInfo' method="POST">
        <div>차트 번호로 조회하기</div>
        <label for="username">차트 번호:</label>
        <input type="text" id="username" name="username">
        <button type="submit" class="submit">조회</button>
    </form>
    <div class="list-title">리스트로 조회하기</div>
    <div class="">
        <div>접수 일자로 조회하기</div>
        <div class="selectByList">
            <label for="date">접수 일자:</label>
            <input type="text" id="date" name="date">
            <div class="submits date-submit">조회</div>
            <div class="submits all-submit">전체 보기</div>
        </div>
        <div>ex) 2024-12-09 , 띄어쓰기 없음. 추후 개선하겠습니다........</div>
    </div>
    <div class="table-container">
        <table class="user-list">
            <thead>
                <tr>
                    <th>차트 번호</th>
                    <th>검사 일자</th>
                    <th>성 명</th>
                    <th>성 별</th>
                    <th>생 년 월 일</th>
                    <th>조 회</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>


    <script src="/js/Common.js"></script>
    
    <script src="/js/report/report.js?V=2415"></script>
</body>
</html>
