<!DOCTYPE html>
<html>
<head>
    <title>챌린지 사용자 등록 페이지...</title>
    
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/font.css" rel="stylesheet">
    <link href="/css/xeicon.min.css" rel="stylesheet">
    <style>
        body *{font-family: S-Core5;}
        .user-list th{border-bottom: 1px solid;}
        .user-list td{padding-top: 1em;}
        .user-list td:nth-child(3){font-size: 1.3em;}
        .user-list span{
            padding: 0.3em 1.5em; 
            background-color: #ffeaea;
            cursor: pointer;
        }
        .user-list span:hover{
            font-weight: bold;
            background-color: #ffbaba;
        }
        .list-title{font-size: 1.2em; border-top: 1px dotted; margin-top: 1em; }
        .submit, .submits{padding: 0.3em 7.5em; background-color: #ffeaea; border: none; cursor: pointer;}
        .submit:hover, .submits:hover{font-weight: bold; background-color: #ffbaba;}
        .submits{width:fit-content;}
        .selectByList{
            max-width: 515px;
            display: grid;
            grid-template-columns: 1fr 2fr 1fr 2fr;
            align-items: center;
            justify-items: start;
        }
        select{width: 120px;height: 2em;}
        .container1{display: grid; grid-template-columns: 1fr 1fr; gap: 1em;}
        .title{font-size: 1.2em; border-top: 1px dotted; margin-top: 1em; max-width: 800px; cursor: pointer;}
        .title:hover{font-weight: bold; border-top: 1px solid; color: #ffbaba;}
        .user-title{border-top: 1px solid;}
        .mapping-title{border-top: 1px solid;}
        .insert-tab{display: grid; grid-template-columns: repeat(3, auto); gap: 1em; width: 800px; margin-bottom: 1em;}
        label{width: 120px;}
        input{width: 120px;height: 1.5em;}
        #fileNm{width: 167px}
        .mapping-list tr td{border-right: 1px dashed grey;}
        .mapping-list tr td:nth-child(6){text-align: start; border-right: none; padding-left: 1em;}

        /* 활성화된 탭 스타일 */
        .title.on {
            font-weight: bold;
            color: #ffbaba;
            border-top: 1px solid;
        }
        .hidden{display: none;}
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="container1">
            <div class="title user-title on">사용자 등록</div>
            <div class="title mapping-title">매핑 등록</div>
        </div>
        <div class="table-container1">
            <form action='/challenge/saveChallengerData' name='challenger' method="POST">
                <div class="list-title">사용자 등록</div>
                <div class="insert-tab">
    
                    <div>
                        <label for="username">* 이&nbsp;&nbsp;&nbsp;름:</label>
                        <input type="text" id="username" name="username">
                    </div>
                    <div>
                        <label for="userid">* 이메일:</label>
                        <input type="text" id="userid" name="userid">
                    </div>
                    <div>
                        <label for="groupCode">* 그룹코드:</label>
                        <select class="analysis" name="groupCode">
                            <option value="000001">롯데자이언츠 2군</option>
                            <option value="000002">롯데자이언츠 1군</option>
                        </select>
                    </div>
                    <div>
                        <label for="startDt">* 시작일:</label>
                        <input type="text" id="startDt" name="startDt">
                    </div>
                    <div>
                        <label for="endDt">* 종료일:</label>
                        <input type="text" id="endDt" name="endDt">
                    </div>
                </div>
                <button type="button" class="submit btn-container1">등록</button>
            </form>
            <table class="user-list">
                <thead>
                    <tr>
                        <th>이름</th>
                        <th>계정(email id)</th>
                        <th>그룹코드</th>
                        <th>시작일</th>
                        <th>종료일</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="table-container2 hidden">
            <form action='/challenge/saveMappingData' name='mapping' method="POST">
                <div class="list-title">리포트 등록</div>
                <div class="insert-tab">
                    <div>
                        <label for="userid">* 사용자:</label>
                        <select class="userid" id="userid">
                        </select>
                    </div>
                    <div>
                        <label for="usercode">* 차트번호:</label>
                        <input type="text" id="usercode" name="report">
                    </div>
                    <div>
                        <label for="report">* 결과지/솔루션:</label>
                        <select class="report" id="report">
                            <option value="result">결과지</option>
                            <option value="solution">솔루션</option>
                        </select>
                    </div>
                    <div>
                        <label for="testNm">* 검사명:</label>
                        <select class="testNm" id="testNm">
                            <option value="지연성알러지">지연성알러지</option>
                            <option value="종합대사기능">종합대사기능</option>
                            <option value="종합호르몬">종합호르몬</option>
                        </select>
                    </div>
                    <div>
                        <label for="testCode">&nbsp;&nbsp;&nbsp;검사코드:</label>
                        <select class="testCode" id="testCode">
                            <option value="D0004">지연성알러지</option>
                            <option value="D0050">종합대사기능</option>
                            <option value="D0040">종합호르몬</option>
                        </select>
                    </div>
                    <div>
                        <label for="fileNm">* 파일명:</label>
                        <input type="text" id="fileNm" name="fileNm">
                    </div>
                </div>
                <button type="button" class="submit btn-container2">등록</button>
            </form>
            <table class="mapping-list">
                <thead>
                <tr>
                    <th>차트번호</th>
                    <th>결과지/솔루션</th>
                    <th>계정(email id)</th>
                    <th>검사코드</th>
                    <th>검사명</th>
                    <th>파일명</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>


    <script src="/js/Common.js"></script>
    
    <script src="/js/challenge/manager.js?V=2415"></script>
</body>
</html>
