.title-area{
    padding: 1.5em 3.8em;
    display: grid;
    height: 62.4em;
    justify-content: start;
    grid-gap:  29em;
}
.report-name{
    font-size: 2.5em;
    margin-top: 5.5em;
}
.title-content{
    display: grid;
    justify-self: start;
    align-items: end;
    margin-left: 8em;
}
.title-content span> span{
    width: max-content;
}

/* 페이지 이미지 정의 */
.title-page{ background: url('../../images/report/UGI/page/page-1.png') #fff center/cover no-repeat;}
.page-2 {background: url('../../images/report/UGI/page/page-2.png')  #fff center/cover no-repeat;}
.page-3{background: url('../../images/report/UGI/page/page-3.png') #fff center/cover no-repeat;}
.page-4{background: url('../../images/report/UGI/page/page-4.png') #fff center/cover no-repeat;}
.page-5{background: url('../../images/report/UGI/page/page-5.png') #fff center/cover no-repeat;}
.page-6{background: url('../../images/report/UGI/page/page-6.png') #fff center/cover no-repeat;}
.page-7{background: url('../../images/report/UGI/page/page-7.png') #fff center/cover no-repeat;}
.page-8{background: url('../../images/report/UGI/page/page-8.png') #fff center/cover no-repeat;}
.page-9{background: url('../../images/report/UGI/page/page-9.png') #fff center/cover no-repeat;}
.page-10{background: url('../../images/report/UGI/page/page-10.png') #fff center/cover no-repeat;}
.page-11{background: url('../../images/report/UGI/page/page-11.png') #fff center/cover no-repeat;}
.page-12{background: url('../../images/report/UGI/page/page-12.png') #fff center/cover no-repeat;}
.page-13{background: url('../../images/report/UGI/page/page-13.png') #fff center/cover no-repeat;}
.page-14{background: url('../../images/report/UGI/page/page-14.png') #fff center/cover no-repeat;}
.page-15{background: url('../../images/report/UGI/page/page-15.png') #fff center/cover no-repeat;}
.page-16{background: url('../../images/report/UGI/page/page-16.png') #fff center/cover no-repeat;}
.page-17{background: url('../../images/report/UGI/page/page-17.png') #fff center/cover no-repeat;}
.page-18{background: url('../../images/report/UGI/page/page-18.png') #fff center/cover no-repeat;}
.page-19{background: url('../../images/report/UGI/page/page-19.png') #fff center/cover no-repeat;}
.page-20{background: url('../../images/report/UGI/page/page-20.png') #fff center/cover no-repeat;}
.page-21{background: url('../../images/report/UGI/page/page-21.png') #fff center/cover no-repeat;}
.page-22{background: url('../../images/report/UGI/page/page-22.png') #fff center/cover no-repeat;}
.page-23{background: url('../../images/report/UGI/page/page-23.png') #fff center/cover no-repeat;}
.page-24{background: url('../../images/report/UGI/page/page-24.png') #fff center/cover no-repeat;}
.page-25{background: url('../../images/report/UGI/page/page-25.png') #fff center/cover no-repeat;}
.page-26{background: url('../../images/report/UGI/page/page-26.png') #fff center/cover no-repeat;}
.page-27{background: url('../../images/report/UGI/page/page-27.png') #fff center/cover no-repeat;}
.page-28{background: url('../../images/report/UGI/page/page-28.png') #fff center/cover no-repeat;}
.page-29{background: url('../../images/report/UGI/page/page-29.png') #fff center/cover no-repeat;}
.page-30{background: url('../../images/report/UGI/page/page-30.png') #fff center/cover no-repeat;}
.page-31{background: url('../../images/report/UGI/page/page-31.png') #fff center/cover no-repeat;}
.page-32{background: url('../../images/report/UGI/page/page-32.png') #fff center/cover no-repeat;}
.page-33{background: url('../../images/report/UGI/page/page-33.png') #fff center/cover no-repeat;}
.page-34{background: url('../../images/report/UGI/page/page-34.png') #fff center/cover no-repeat;}
.page-area{ padding: 0.3em 1.7em; display: grid; height: 62.4em;
}
.page-area.block {display: block;}
.page-3 .page-area{ grid-template-rows: 8em 24em auto; width: 43.5em; position: relative;}
.page-3 .title3 { width: 43.5em; display: grid; justify-items: center;}
.page-3 .name3 {font-size: 35pt; color: #ffff;}
.page-3 .span3 {grid-gap: 0.85em; position: absolute; top: 21.6%; left: 50.3%; display: grid; color: #15b3ac; z-index: 100; font-size: 9pt;}
.page-3 .table3{ font-family: 'Spoqa Han Sans Neo' ; font-size: 14pt; color: #000;margin: 0.8em 0 0 11em; width: 26.5em;}
.page-3 .table3 tr{ margin-bottom: 2em; }
.page-3 .table3 td{ border: none; height: 3.4em;}
.page-3 .table3 td:nth-child(odd){ width: 21em; }
.page-3 .table3 td:nth-child(even){background-size: 72%; background-position: center;}

.graph-area .page-rank > div{height: 39mm; background-size: 25mm; background-position: 37em 3em;}
/* .graph-area .desc > div{font-size: 22pt; font-family: 'S-Core4'; margin-bottom: 1.5em; padding-top: 0.9em;} */
.graph-area .desc > div{font-size: 22pt; font-family: 'S-Core4'; margin-bottom: 0.8em; padding-top: 0em;}

.graph-area .tables {font-size: 11pt; margin-bottom: 2em; position: relative;}
.graph-area .tables td:nth-child(1){width: 17em; }
.graph-area .tables td:nth-child(2){width: 4.5em; text-align: right; background-position: 6pt 8pt;}
.graph-area .tables td:nth-child(2) > div{padding-right: 0px;}
.graph-area .tables td:nth-child(3){width: 4.5em; text-align: center;padding: 8px 5px; font-size: 10pt;}
.graph-area .tables td:nth-child(4){width: 21em;}
.graph-area .tables tr:nth-child(2) td:nth-child(4){background-size: 95mm; }
.graph-area .tables tr th{height: 2em; background-color: #eaeaea; border: 1px solid #838486; text-align: center; font-family: 'Spoqa Han Sans Neo';}
.graph-area .tables tr td{height: 2.2em; border: 1px solid #838486; font-family: 'Spoqa Han Sans Neo'; font-weight: 400;}
.graph-area .tables tr th:first-child,
.graph-area .tables tr td:first-child{border-left: none;}
.graph-area .tables tr th:nth-child(4),
.graph-area .tables tr td:nth-child(4){border-right: none;}

.graph-area .graph-score{background-size: 84.9mm 3em; background-position: -12pt -1pt; background-repeat: no-repeat; width: 100%; height: inherit; position: relative;}
.graph-area tr:nth-child(2) .graph-score{ background-position: -12pt -1pt}
.graph-area .graph-score.way0{background-image: url('../../images/report/UGI/graph/digra.png');}
.graph-area tr:nth-child(2) .graph-score.way0{background-image: url('../../images/report/UGI/graph/digra_top.png');}
.graph-area .graph-score.way1{background-image: url('../../images/report/UGI/graph/undigra.png');}
.graph-area tr:nth-child(2) .graph-score.way1{background-image: url('../../images/report/UGI/graph/undigra_top.png');}
.graph-area .graph-score::before{content: ''; position: absolute;background-color: #fff; width: 100%; height: 100%; top: 0; left: 0; opacity: 0.2;}

.graph-area .graph-score .graph-dot{width:8px; height: 8px;border: none; top: 51%; border-radius: 50%;}
.graph-area .graph-score .graph-bar{height: 6px;background-color: #000; border: 0.5px solid #fff; border-left: none; top: 55%; left: 1px; box-sizing: border-box; }
.graph-area .graph-score div{position: absolute; background-color: #000; border: 0.5px solid #fff; border-left: none; top: 52%; left: 1px; box-sizing: border-box;}

.way-text{
    font-size: 7pt;
    font-weight: bold;
    position: absolute;
    top: 32px;
    right: 3px;
}
.way-text.way2{
    text-align: end;
    top: 20px;
}

.desc-area .desc-block{height: 7em;}
.desc-area .desc-title{display: flex; margin-bottom: 0.5em;}
.desc-area .desc-title div:nth-child(1){width: 2.5em;}
.desc-area .desc-title div:nth-child(2){font-family: 'S-Core3';background: #d9e8e2; padding:7px 1em;border-radius: 1.5em; font-weight: 600;}
.desc-area .desc-detail{font-size: 11pt;}

.desc-blank{height: 8em;}

.king-rank {position: relative;}
.king-rank > div{position: absolute; width: 20em; height: 20em; top: 17em; left: 24em; background-position: center; background-size: 57mm;}

.small-rank {display: grid; grid-template-rows: repeat(4, 1fr); height: 91%; padding-top: 14px;}
.small-rank > div{background-position: 69% 97%; background-size: 13mm;}

.rank-graph {display: grid; grid-template-columns: repeat(13, 1fr); width: 30.5em; padding: 0 0 0 1em;}
.rank-graph > .check { background: no-repeat center 70%/5.7mm url('../../images/report/UGI/tri.png'); z-index: 1000;}
/*king alpabet*/
.Ap{background-repeat: no-repeat; background-image: url('../../images/report/UGI/king_apl/alp_king_a+.png');}
.A0{background-repeat: no-repeat; background-image: url('../../images/report/UGI/king_apl/alp_king_a.png');}
.A-{background-repeat: no-repeat; background-image: url('../../images/report/UGI/king_apl/alp_king_a-.png');}
.Bp{background-repeat: no-repeat; background-image: url('../../images/report/UGI/king_apl/alp_king_b+.png');}
.B0{background-repeat: no-repeat; background-image: url('../../images/report/UGI/king_apl/alp_king_b.png');}
.B-{background-repeat: no-repeat; background-image: url('../../images/report/UGI/king_apl/alp_king_b-.png');}
.Cp{background-repeat: no-repeat; background-image: url('../../images/report/UGI/king_apl/alp_king_c+.png');}
.C0{background-repeat: no-repeat; background-image: url('../../images/report/UGI/king_apl/alp_king_c.png');}
.C-{background-repeat: no-repeat; background-image: url('../../images/report/UGI/king_apl/alp_king_c-.png');}
.Dp{background-repeat: no-repeat; background-image: url('../../images/report/UGI/king_apl/alp_king_d+.png');}
.D0{background-repeat: no-repeat; background-image: url('../../images/report/UGI/king_apl/alp_king_d.png');}
.D-{background-repeat: no-repeat; background-image: url('../../images/report/UGI/king_apl/alp_king_d-.png');}
.F0{background-repeat: no-repeat; background-image: url('../../images/report/UGI/king_apl/alp_king_f.png');}
/*alpabet*/
.A{background-repeat: no-repeat; background-image: url('../../images/report/UGI/apl/alp_a.png');}
.B{background-repeat: no-repeat; background-image: url('../../images/report/UGI/apl/alp_b.png');}
.C{background-repeat: no-repeat; background-image: url('../../images/report/UGI/apl/alp_c.png');}
.D{background-repeat: no-repeat; background-image: url('../../images/report/UGI/apl/alp_d.png');}
.F{background-repeat: no-repeat; background-image: url('../../images/report/UGI/apl/alp_f.png');}
/*face*/
.red{background-size: 22pt;  background-repeat: no-repeat; background-image: url('../../images/report/UGI/face/face_red.png');}
.orange{background-size: 22pt;  background-repeat: no-repeat; background-image: url('../../images/report/UGI/face/face_orange.png');}
.yell{background-size: 22pt;  background-repeat: no-repeat; background-image: url('../../images/report/UGI/face/face_yell.png');}
.green{background-size: 22pt;  background-repeat: no-repeat; background-image: url('../../images/report/UGI/face/face_green.png');}
.blue{background-size: 22pt;  background-repeat: no-repeat; background-image: url('../../images/report/UGI/face/face_blue.png');}

/* 솔루션 영역 */
.solution *{font-family: 'Pretendard-regular';} 

.sol-1 .page-area >div, .sol-2 .page-area >div{position:relative;}
.sol-1 .page-area >div div:nth-child(1), .sol-2 .page-area >div div:nth-child(1){position:absolute; top: 0.5em; font-size: 26pt; font-family: 'Pretendard-extrabold';}
.sol-1 .page-area >div div:nth-child(2), .sol-2 .page-area >div div:nth-child(2){position:absolute; top: 78%; left: 18%;font-size: 13pt;}
.sol-3 .page-area >div:nth-child(1){position:relative;}
.sol-3 .page-area >div:nth-child(1) div{position:absolute;top:70%;left: 50%;transform: translate(-50%, 50%); font-size: 26pt; color:#1fbbb0; font-family: 'Pretendard-black';  width: max-content;}
.sol-3 .page-area{grid-template-rows: 2fr 6fr;}
table.major{margin: 0.7em auto; height: 38.1em; width: 24em;}
.sol-3 .major tr{background-size: 12mm; background-position:21em center;}
.sol-3 .major td{padding-left: 5em; font-size: 14pt;font-family: 'Pretendard-meidum'; border: none;}
.sol-4 .page-area{grid-template-rows: 1fr 5fr;}
.sol-4 .page-area >div:nth-child(1){position:relative;}
.sol-4 .page-area >div:nth-child(1) div{position:absolute;top:35%;left: 50%;transform: translate(-50%, 50%); font-size: 26pt; color:#1fbbb0; font-family: 'Pretendard-black';  width: max-content;}
.sol-4 .sub{margin:0.4em 0 0 7.5em;width: 32em; height:51em;}
.sol-4 .sub > div{ display: grid; grid-template-columns: 4fr 1fr 8fr;height: 3em;justify-items: center;align-items: center;}
.sol-4 .sub div div:nth-child(1){width: max-content;font-family: 'Pretendard-meidum'; font-size: 10pt;}
.sol-4 .sub div div:nth-child(2){ font-family: 'Pretendard-bold'; font-size: 14pt;}
.sol-4 .sub div div:nth-child(3){ font-family: 'Pretendard-light'; font-size: 9pt; width: 22.7em; word-break: keep-all; text-align: center;}
.sol-4 .col_A div:nth-child(2){color:#6399cb}
.sol-4 .col_B div:nth-child(2){color:#c6af2f}
.sol-4 .col_C div:nth-child(2){color:#f8971d}
.sol-4 .col_D div:nth-child(2){color:#f04c53}
.sol-4 .col_F div:nth-child(2){color:#421715}
.sol-5 .page-area {grid-template-rows: 1fr 4fr;}
.sol-5 .page-area >div:nth-child(1){position:relative;}
.sol-5 .page-area >div:nth-child(1) div{position:absolute;top:39%;left: 50%;transform: translate(-50%, 50%); font-size: 26pt; color:#1fbbb0; font-family: 'Pretendard-black';  width: max-content;}
.sol-5 .supple{display: grid; grid-template-rows: repeat(6, 1fr); grid-gap: 1em;justify-items: center}
.sol-5 .supple-detail{display: grid; grid-template-columns: 5fr 1fr; width: 42em; height: 8em; border-radius: 1.5em;     background-color: #f1f2f1;}
.sol-5 .left-sup {padding: 10px 0 3px 6em; display: grid; grid-template-rows: 1.5fr 5fr 2fr 2fr; height: 7em; background-repeat: no-repeat; background-size: 5em; background-position: 9px center;}
.sol-5 .left-sup div{font-size: 10pt; word-break: keep-all; padding-top: 3px;}
.sol-5 .left-sup div:nth-child(1){font-family: 'Pretendard-bold';}
.sol-5 .left-sup div:nth-child(3){font-size: 8pt;}
.sol-5 .left-sup div:nth-child(4) span{font-family: 'Pretendard-bold'; color: #1fbbb0; font-size: 9pt;}
.sol-5 .left-sup div:nth-child(4) span:nth-child(1){font-family: 'Pretendard-black';}
.sol-5 .right-sup {display: grid; background-repeat: no-repeat; background-size: 3.5em; background-position:center; align-items: center; justify-items: center; grid-gap: 0.9em;}
.sol-5 .right-sup div{font-size: 7pt;}
.living-cover .page-area{height: 65em; position: relative;}
.living-cover .page-area > div:nth-child(1){background-size: 30mm; background-position: 35em 13em; position: relative;}
.living-cover .solc-word{font-size: 16pt; position: absolute;width: 27em; word-break: keep-all; top: 34%;;left: 2.5%;}
.living-cover .solc-word div{font-family: 'Pretendard-bold'; line-height: 1.5em;}
.living-cover .Ap .solc-word{color: #104572;}
.living-cover .A0 .solc-word{color: #104572;}
.living-cover .A- .solc-word{color: #104572;}
.living-cover .Bp .solc-word{color: #745723;}
.living-cover .B0 .solc-word{color: #745723;}
.living-cover .B- .solc-word{color: #745723;}
.living-cover .Cp .solc-word{color: #7f3d1b;}
.living-cover .C0 .solc-word{color: #7f3d1b;}
.living-cover .C- .solc-word{color: #7f3d1b;}
.living-cover .Dp .solc-word{color:#f04b53}
.living-cover .D0 .solc-word{color:#f04b53}
.living-cover .D- .solc-word{color:#f04b53}
.living-cover .F0 .solc-word{color:#421716}
.living-cover .min-sol{display: grid; grid-gap: 2em; position: absolute; bottom: 0.8em; left: 79%; width: 10em;}
.living-cover .min-sol div{background-size: 11.6mm; background-position: center;}

.living-cover.B1 .min-sol{height: 19.8em;}
.living-cover.B2 .min-sol{height: 9em;}
.living-cover.B3 .min-sol{height: 14.3em;}
.living-cover.B4 .min-sol{height: 9em;}
.living-cover.B5 .min-sol{height: 14.3em;}
/* .living-cover.B5 .min-sol{height: 19.8em;} */
.living-cover.B6 .min-sol{height: 9em;}

.sol-living .page-area div{background-size: 25mm; background-position: 36em 2em;}

.mitofu .right-sup{background-image:url("../../images/report/UGI/qr/mitofu.png");}
.adre .right-sup{background-image:url("../../images/report/UGI/qr/adre.png");}
.riposomc .right-sup{background-image:url("../../images/report/UGI/qr/riposomc.png");}
.biobal .right-sup{background-image:url("../../images/report/UGI/qr/biobal.png");}
.enzm .right-sup{background-image:url("../../images/report/UGI/qr/enzm.png");}
.coq10 .right-sup{background-image:url("../../images/report/UGI/qr/coq10.png");}
.glut .right-sup{background-image:url("../../images/report/UGI/qr/glut.png");}
.vid .right-sup{background-image:url("../../images/report/UGI/qr/vid.png");}
.maxi .right-sup{background-image:url("../../images/report/UGI/qr/maxi.png");}
.neuro .right-sup{background-image:url("../../images/report/UGI/qr/neuro.png");}
.punsung .right-sup{background-image:url("../../images/report/UGI/qr/punsung.png");}
.sun .right-sup{background-image:url("../../images/report/UGI/qr/sun.png");}
.clean .right-sup{background-image:url("../../images/report/UGI/qr/clean.png");}
.glutamin .right-sup{background-image:url("../../images/report/UGI/qr/glutamin.png");}
.darae .right-sup{background-image:url("../../images/report/UGI/qr/darae.png");}
.jamong .right-sup{background-image:url("../../images/report/UGI/qr/jamong.png");}
.riposoml .right-sup{background-image:url("../../images/report/UGI/qr/riposoml.png");}
.curcumin .right-sup{background-image:url("../../images/report/UGI/qr/curcumin.png");}
.sync .right-sup{background-image:url("../../images/report/UGI/qr/sync.png");}

.mitofu .left-sup{background-image:url('../../images/report/UGI/suppl/mitofu.png');}
.adre .left-sup{background-image:url('../../images/report/UGI/suppl/adre.png');}
.riposomc .left-sup{background-image:url('../../images/report/UGI/suppl/riposomc.png');}
.biobal .left-sup{background-image:url('../../images/report/UGI/suppl/biobal.png');}
.enzm .left-sup{background-image:url('../../images/report/UGI/suppl/enzm.png');}
.coq10 .left-sup{background-image:url('../../images/report/UGI/suppl/coq10.png');}
.glut .left-sup{background-image:url('../../images/report/UGI/suppl/glut.png');}
.vid .left-sup{background-image:url('../../images/report/UGI/suppl/vid.png');}
.maxi .left-sup{background-image:url('../../images/report/UGI/suppl/maxi.png');}
.neuro .left-sup{background-image:url('../../images/report/UGI/suppl/neuro.png');}
.punsung .left-sup{background-image:url('../../images/report/UGI/suppl/punsung.png');}
.sun .left-sup{background-image:url('../../images/report/UGI/suppl/sun.png');}
.clean .left-sup{background-image:url('../../images/report/UGI/suppl/clean.png');}
.glutamin .left-sup{background-image:url('../../images/report/UGI/suppl/glutamin.png');}
.darae .left-sup{background-image:url('../../images/report/UGI/suppl/darae.png');}
.jamong .left-sup{background-image:url('../../images/report/UGI/suppl/jamong.png');}
.riposoml .left-sup{background-image:url('../../images/report/UGI/suppl/riposoml.png');}
.curcumin .left-sup{background-image:url('../../images/report/UGI/suppl/curcumin.png');}
.sync .left-sup{background-image:url('../../images/report/UGI/suppl/sync.png');}

.sol-1{background: url('../../images/report/UGI/sol_page/1.cover_tem.png') #fff center/cover no-repeat;}
.sol-2{background: url('../../images/report/UGI/sol_page/2.cover_tem.png') #fff center/cover no-repeat;}
.sol-3{background: url('../../images/report/UGI/sol_page/3.redlight_tem.png') #fff center/cover no-repeat;}
.sol-4{background: url('../../images/report/UGI/sol_page/4.priority_tem.png') #fff center/cover no-repeat;}
.sol-5{background: url('../../images/report/UGI/sol_page/5.press_tem.png') #fff center/cover no-repeat;}
.B1{background: url('../../images/report/UGI/sol_page/midcover6.png') #fff center/cover no-repeat;}
.B2{background: url('../../images/report/UGI/sol_page/midcover5.png') #fff center/cover no-repeat;}
.B3{background: url('../../images/report/UGI/sol_page/midcover3.png') #fff center/cover no-repeat;}
.B4{background: url('../../images/report/UGI/sol_page/midcover2.png') #fff center/cover no-repeat;}
.B5{background: url('../../images/report/UGI/sol_page/midcover1.png') #fff center/cover no-repeat;}
.B6{background: url('../../images/report/UGI/sol_page/midcover4.png') #fff center/cover no-repeat;}
.G11{background: url('../../images/report/UGI/sol_page/meta-26.png') #fff center/cover no-repeat;}
.G12{background: url('../../images/report/UGI/sol_page/meta-27.png') #fff center/cover no-repeat;}
.G13{background: url('../../images/report/UGI/sol_page/meta-28.png') #fff center/cover no-repeat;}
.G14{background: url('../../images/report/UGI/sol_page/meta-29.png') #fff center/cover no-repeat;}
.G21{background: url('../../images/report/UGI/sol_page/meta-22.png') #fff center/cover no-repeat;}
.G22{background: url('../../images/report/UGI/sol_page/meta-23.png') #fff center/cover no-repeat;}
.G31{background: url('../../images/report/UGI/sol_page/meta-15.png') #fff center/cover no-repeat;}
.G32{background: url('../../images/report/UGI/sol_page/meta-16.png') #fff center/cover no-repeat;}
.G33{background: url('../../images/report/UGI/sol_page/meta-17.png') #fff center/cover no-repeat;}
.G41{background: url('../../images/report/UGI/sol_page/meta-12.png') #fff center/cover no-repeat;}
.G42{background: url('../../images/report/UGI/sol_page/meta-13.png') #fff center/cover no-repeat;}
.G51{background: url('../../images/report/UGI/sol_page/meta-7.png') #fff center/cover no-repeat;}
.G52{background: url('../../images/report/UGI/sol_page/meta-8.png') #fff center/cover no-repeat;}
.G53{background: url('../../images/report/UGI/sol_page/meta-9.png') #fff center/cover no-repeat;}
.G54{background: url('../../images/report/UGI/sol_page/meta-10.png') #fff center/cover no-repeat;}
.G61{background: url('../../images/report/UGI/sol_page/meta-19.png') #fff center/cover no-repeat;}
.G62{background: url('../../images/report/UGI/sol_page/meta-20.png') #fff center/cover no-repeat;}
.a-supple{background: url('../../images/report/UGI/sol_page/meta-30.png') #fff center/cover no-repeat;}
.a-living{background: url('../../images/report/UGI/sol_page/meta-31.png') #fff center/cover no-repeat;}
.counsel{background: url('../../images/report/UGI/sol_page/meta-32.png') #fff center/cover no-repeat;}
